web_scraping_automation.json
{
  "name": "web_scraping_automation",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "1112b7b7-82b7-49a9-a090-d4ff7bb71e82",
      "name": "When chat message received",
      "webhookId": "12397582-4709-4d4c-a4cf-0a4ed55b1bd3"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an assistant who come up with single search query for an internet search to best answer the user's question\n\nsample output schema nothing else should be present in response:\n{\n\t\"type\": \"object\",\n\t\"output\": {\n\t\t\"query\": \"the search query from LLM\"\n\t\t}\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        0
      ],
      "id": "6c1eea46-2aed-4fb8-8760-da745c829aff",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        352,
        224
      ],
      "id": "fe909aab-9d8b-4e26-b715-0bbc0e4f3c75",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "MapSearch",
        "operation": "search",
        "query": "={{ $json.output.query }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        848,
        0
      ],
      "id": "e2e54706-b0fc-4128-9fa4-c4501b1aa5c5",
      "name": "/search",
      "credentials": {
        "firecrawlApi": {
          "id": "DmHqsVhGzhaBfbpl",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://webhook.site/41a2369f-97fc-47ca-801b-2ecec6a472c9",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        0
      ],
      "id": "e387935f-7c31-4b7a-8dad-ee4d76859043",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"output\": {\n\t\t\"query\": \"the search query from LLM\"\n\t\t}\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "3fd96500-7b59-4ee4-abe7-b11fd5c6f591",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "qcwind/qwen3-8b-instruct-Q4-K-M:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "d1487d0d-1407-471f-abfd-86fcd8e19b33",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "029FFfIZ60IZfnLz",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "qcwind/qwen3-8b-instruct-Q4-K-M:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        560,
        432
      ],
      "id": "eb8f9f38-c0ff-4e87-ba82-602fd39d36ae",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "029FFfIZ60IZfnLz",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "/search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/search": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "efe47ebb-59c2-444a-97db-b6b32a89e029",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c07ab3bfb9285fd7cc4ccb41453a2c5839801d82ac441cc5ad23dc228b06bb81"
  },
  "nodeGroups": [],
  "id": "ICb3MKav3AvJWQXG",
  "tags": []
}