Capstone/BDM/RevOps_subAgent.json
{
  "name": "RevOps_subAgent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -64,
        0
      ],
      "id": "5f5e08fa-af1a-4085-bd05-edcd04bd73b1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Based on the input of the user which describes a sales lead, you should reply with a structured version of the lead. Your reply will be sent to Pipedrive to create a lead record."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        0
      ],
      "id": "8807491a-df27-4f2a-9ac8-c31696774e78",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-chat-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        160,
        224
      ],
      "id": "4de0abad-26b0-4717-874f-2867f6e3e7fc",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "O8yVSHl9J1uUaidW",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"name\": \"name of the lead\",\n  \"company\": \"where they work\",\n  \"role\": \"their job title\",\n  \"email\": \"Their email address\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        288,
        224
      ],
      "id": "73e5c5bc-a015-4cf0-8df3-8a2c209675c5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "gpt-chat-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        368,
        432
      ],
      "id": "71b2e64a-a94a-4d7a-9823-21c5d6a59a8b",
      "name": "Azure OpenAI Chat Model1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "O8yVSHl9J1uUaidW",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.output.company }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        656,
        0
      ],
      "id": "7e5b0225-9048-4f9e-92c7-370f5dbcf1d4",
      "name": "Create an organization",
      "credentials": {
        "pipedriveApi": {
          "id": "HHQV2CHFWqQ4rcZT",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('AI Agent').item.json.output.name }}",
        "additionalFields": {
          "emails": {
            "emailProperties": [
              {
                "value": "={{ $('AI Agent').item.json.output.email }}",
                "primary": false
              }
            ]
          },
          "org_id": "={{ $json.id }}",
          "customFields": {
            "property": []
          }
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "336f17c2-ceea-4223-89a9-24e75d746896",
      "name": "Create a person",
      "credentials": {
        "pipedriveApi": {
          "id": "HHQV2CHFWqQ4rcZT",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "organization_id": "={{ $json.org_id }}",
        "additionalFields": {
          "person_id": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ],
      "id": "f203dd58-6ae9-4019-82df-9ce93be1ed71",
      "name": "Create a lead",
      "credentials": {
        "pipedriveApi": {
          "id": "HHQV2CHFWqQ4rcZT",
          "name": "Pipedrive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create an organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization": {
      "main": [
        [
          {
            "node": "Create a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person": {
      "main": [
        [
          {
            "node": "Create a lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1843b833-9558-4247-935c-570c3e6dd795",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c07ab3bfb9285fd7cc4ccb41453a2c5839801d82ac441cc5ad23dc228b06bb81"
  },
  "nodeGroups": [],
  "id": "0UYszsWCi7u6KF9F",
  "tags": []
}