Capstone/AccountExecutive/DemoBooking_subAgent.json
{
  "name": "DemoBooking_subAgent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please book a demo with:\n{{ $json.body.name }}\nAt the following time:\n{{ $json.body.timeslot }}\nemail ID:\n{{ $json.body.email }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are provided with a person who would like to receive a demo of the AI product and their preferred timeslot. You use your tools to check the calendar's availability and email id of person, and then book the demo in the calendar. Reply with the result."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -624,
        0
      ],
      "id": "b8850269-cb07-4798-8eb7-265060153b70",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-chat-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -816,
        224
      ],
      "id": "e03c8653-eedc-4ba8-b408-629a6d2f85a1",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "l3YkLLmmWLhEjZyM",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Whether the user is available to provide demo from the given start to end time",
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "sampleandsample9@gmail.com",
          "mode": "list",
          "cachedResultName": "sampleandsample9@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -688,
        224
      ],
      "id": "0a238635-dd83-4fcf-bbbd-6370c0d4037e",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dbHfiWtk8BrfWmzV",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create an event in Google Calendar to give a demo at the time that is available",
        "calendar": {
          "__rl": true,
          "value": "sampleandsample9@gmail.com",
          "mode": "list",
          "cachedResultName": "sampleandsample9@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `invitee email id here`, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -560,
        224
      ],
      "id": "543818fb-f30a-42ac-8c78-b266fd6160be",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dbHfiWtk8BrfWmzV",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"success\": true,\n\t\"summary\": \"summary of the outcome here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -304,
        224
      ],
      "id": "1ed65a77-600a-4f1c-a643-fa0606a585ef",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "chatId": "6714252225",
        "text": "={{ $json.output.summary }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        128,
        16
      ],
      "id": "0713fff1-b602-46ee-bbc0-c0692c13f12d",
      "name": "Send a text message",
      "webhookId": "998c6ec2-822e-4e88-9c86-4c9329231689",
      "credentials": {
        "telegramApi": {
          "id": "BfR2n6hFLVcIGuzv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6fd66a21-1e3e-46f9-8ca1-4c18085aa117",
              "leftValue": "={{ $json.output.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        112
      ],
      "id": "c2f2fe8b-177c-4306-8e2f-b982f9246fc0",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "6714252225",
        "text": "=Unable to find slot for the demo",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        128,
        208
      ],
      "id": "bce2d692-554c-4ac2-ba5c-601e0f144836",
      "name": "Send a text message1",
      "webhookId": "998c6ec2-822e-4e88-9c86-4c9329231689",
      "credentials": {
        "telegramApi": {
          "id": "BfR2n6hFLVcIGuzv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6261881a-df2d-4aab-a28a-b6da4b14f466",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1088,
        32
      ],
      "id": "0ad91f86-94c4-459a-a404-7ceebdebd277",
      "name": "Webhook",
      "webhookId": "6261881a-df2d-4aab-a28a-b6da4b14f466"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.result.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        352,
        16
      ],
      "id": "6905b85e-5453-412e-b05f-9483263f0064",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.result.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        352,
        208
      ],
      "id": "ad84b664-0c1f-4219-bc29-f970a35632a2",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "search",
        "term": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Term', ``, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedriveTool",
      "typeVersion": 2,
      "position": [
        -48,
        752
      ],
      "id": "bd226216-5d0d-4a0d-b50a-02aaf217e419",
      "name": "Search deals in Pipedrive",
      "credentials": {
        "pipedriveApi": {
          "id": "5PdHSqduSOQpC62C",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "path": "7375e811-626b-4bdd-998e-ad2b7856520d"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        -560,
        512
      ],
      "id": "dbe8819e-32db-4e86-a40e-178ff8950714",
      "name": "MCP Server Trigger",
      "webhookId": "7375e811-626b-4bdd-998e-ad2b7856520d"
    },
    {
      "parameters": {
        "endpointUrl": "https://vinaykv.app.n8n.cloud/mcp/7375e811-626b-4bdd-998e-ad2b7856520d",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.4,
      "position": [
        -432,
        224
      ],
      "id": "d4622286-cb71-407d-85e6-92998c797153",
      "name": "MCP Client"
    }
  ],
  "pinData": {},
  "connections": {
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search deals in Pipedrive": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f3b2eb08-1077-4b51-82ce-f85dd17527ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "760c1c784c60d088b626552bf5f645d5e61b04f8acfddb6ff888161927574b33"
  },
  "nodeGroups": [],
  "id": "pBR4jFyJQAVtWsLC",
  "tags": []
}